:root {
  --dark-bg: #1e1e1e;
  --light-bg: #f5f5f5;
  --primary-color: #ff8c00;
  --secondary-color: #5caf4c;
  --grey-light: #b0b0b0;
  --grey-dark: #2f2f2f;
  --white-transparent: rgba(255, 255, 255, 0.85);
  --border-grey: rgba(128, 128, 128, 0.5);
  --text-dark: #000000;
  --blue: #2196f3;
}

body {
  background: var(--dark-bg);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.high-priority {
  background-color: rgba(255, 0, 0, 0.637);
  color: white;
}

.medium-priority {
  background-color: rgba(255, 166, 0, 0.637);
  color: white;
}

.low-priority {
  background-color: rgba(255, 255, 0, 0.767);
  color: black;
}
.todo-container {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.todo-checkbox {
  margin-right: 10px;
}

.disabled {
  text-decoration: line-through;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
}


.btn {
  color: var(--white-transparent);
  font-size: 1.1rem;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  background-color: var(--primary-color);
  border: none;
  position: flex;
  cursor: pointer;
  left: 10px;
  margin-right: 3px ;
  margin-left: 3px;
 display: flex;
 justify-content: center;
 align-items: end;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2rem;
  background: var(--light-bg);
  padding: 3rem;
  height: 50%;
  width: 50%;
  box-shadow: 0 1rem 3rem 1rem rgba(0, 0, 0, 0.1);
}

h2 {
  text-transform: uppercase;
  height: 3rem;
  color: var(--text-dark);
  text-align: center;
}

.input {
  position: relative;
  display: flex;
}

.input-field {
  width: 60%;
  border: 0.06rem solid var(--border-grey);
  border-radius: 0.5rem;
  padding: 1.25rem;
  font-size: 1rem;
}

input[type="text"]::placeholder {
  color: var(--grey-light);
}

.todo-container {
  display: flex;
  gap: 1rem;
}

ul {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

li {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.3rem;
}

#todoList p {
  display: flex;
  gap: 1rem;
  color: var(--text-dark);
  align-items: center;
  font-weight: 500;
}

#todoList .disabled {
  color: #414141;
}

.disabled {
  display: flex;
  text-decoration: line-through;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "\2713";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 1.7rem;
  text-align: center;
  border: 0.06rem solid var(--border-grey);
  border-radius: 50%;
  color: transparent;
}

input[type="checkbox"]:checked::before {
  color: var(--white-transparent);
  background-color: var(--secondary-color);
  border: 0.06rem solid var(--secondary-color);
  border-radius: 50%;
}

.counter {
  border: 0.06rem solid var(--grey-light);
}

.counter-container {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  color: var(--grey-light);
}

.counter-container p {
  align-self: center;
}

.counter-container button {
  border: none;
  background-color: transparent;
  color: var(--grey-light);
  font-size: 1rem;
}

.footer {
  display: flex;
  gap: 1.8rem;
  background-color: var(--light-bg);
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.made-by,
.author {
  font-size: 0.9rem;
}

.made-by {
  color: var(--grey-dark);
}

.author {
  color: var(--primary-color);
  font-weight: bold;
}

.scroll {
  height: 15rem;
  scrollbar-width: thin;
}

.scroll::-webkit-scrollbar {
  width: 0.6rem;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 0.5rem;
}

.scroll::-webkit-scrollbar-track {
  display: none;
}
